.container {
  display: grid
}
img{
  width: 20%;
}
.theBlackest{
  background-color: black;
  color: white;
  text-align: center;
}

.leftJust{
  text-align: left;
}
.centered{
  text-align: center;
}
.top{
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row-start: 1;
  grid-row-end: span 1;
  padding: 10%;
}
.bottom{
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row-start: 3;
  grid-row-end: span 1;
}
.theEnd{
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row-start: 4;
  grid-row-end: span 2;
  padding: 10%;
}
.endRight{
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 4;
  grid-row-end: 4;
  text-align: right;
}
.endLeft{
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 4;
  text-align: left;
}
.leftButton{
  text-align: right;
  grid-column-start: 1;
grid-column-end: span 1;
grid-row-start: 2;
grid-row-end: span 1;
padding: 10px;
}
.rightButton{
  text-align: left;
  grid-column-start: 2;
grid-column-end: span 1;
grid-row-start: 2;
grid-row-end: span 1;
padding: 10px;
}

.centerButton{
  background-color: green;
  color: white;
}

.theBlackest a:link {
    color: grey;
    decoration: none;
}

.theBlackest a:visited {
    color: grey;
    decoration: none;
}

.theBlackest a:hover {
    color: grey;
    decoration: underline;
}

.theBlackest a:active {
    color: grey;
    decoration: none;
}
.top a:link {
    color: grey;
    decoration: none;
}

.top a:visited {
    color: grey;
    decoration: none;
}

.top a:hover {
    color: white;
    background-color: green;
    decoration: underline;
}

.top a:active {
    color: grey;
    decoration: none;
}
@media (max-width: 900px) {
  img{
    width: 100%;
  }
 }
